html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1.5rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

p:not(:last-child), ul:not(:last-child) {
  @apply mb-4;
}


ul {
  list-style-type: none; /* Elimina el marcador por defecto */
  padding-left: 0; /* Opcional: elimina el padding izquierdo si deseas alinear los elementos a la izquierda */
}

ul li::before {
  content: "-"; /* Añade el guion como contenido antes de cada <li> */
  margin-right: 8px; /* Añade un margen derecho para separar el guion del texto */
  /* Puedes ajustar el color, tamaño, etc., del guion aquí si es necesario */
}

main.content a {
	color: #015f9e;
	text-decoration: none;
}

main.content a:hover,
main.content a:focus {
	text-decoration: underline;
}

main.content button {
	padding: 0.3rem 0.8rem;
	font-size: 1rem;
	border: none;
	border-radius: 0.25rem;
	background-color: #015f9e;
	color: #fff;
	cursor: pointer;
}

/* nav styles */
.nav-links {
  width: 100%;
  display: none;
  margin: 0;
}

.nav-links a {
	display: block;
  text-decoration: none;
  font-size: 1.2rem;
	padding: 0.3em 0;
}

.nav-links a:hover,
.nav-links a:focus {
  /*background-color: #ff9776;*/
	text-decoration: underline;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 768px) {
  .nav-links {
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
  }
	
	.hamburger {
		display: none;
	}
}


html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}
