---
import BaseLayout from "@layouts/BaseLayout.astro";

const pageTitle = "Sobre mí";

const identity = {
  firstName: "Bernardo",
  country: "España",
  occupation: "Programador",
  hobbies: ["desarrollo de videojuegos", "edición de vídeo"],
};

const skills = ["Desarrollo web", "Gestión de proyectos", "Node", "React", "Tailwind"];

const fontWeight = "bold";
const textCase = "uppercase";
---

<style define:vars={{ fontWeight, textCase }}>
	.skill {
		font-weight: var(--fontWeight);
		text-transform: var(--textCase);
	}
</style>

<BaseLayout pageTitle={pageTitle}>
	<p>
		Cuando vi por primera vez un trozo de HTML y lo que pintaba en pantalla, me fue imposible saciar mi curiosidad. Después fueron JavaScript y C++. La sensación de resolver incluso los problemas más sencillos era indescriptible. Desde ese momento, he pasado por muchas tecnologías y diferentes lenguajes de programación.
	</p>

	<p>
		Una de las cosas que más me satisface es aprender, así que a eso me dediqué de forma autodidacta durante años mientras hacía realidad varios proyectos personales y de terceros. Finalmente, me matriculé en el Grado Superior de Desarrollo de Aplicaciones Web para validar y poner a prueba mis conocimientos. Las prácticas me ayudaron a acceder al mercado laboral y desde entonces, no he dejado de trabajar.
	</p>

	<p>
		Además del desarrollo web y de software en general, estoy interesado en la producción audiovisual, el diseño gráfico y en todas las partes de la creación de videojuegos. En estos momentos, estoy profundizando en Unreal Engine y tecnologías de desarrollo web como Astro y Svelte, a la vez que las combino con plataformas de despliegue modernas como Vercel, Netlify y otras.
	</p>

	<!--
		<p>Skills:</p>
		<ul>
			{skills.map((skill) => <li class="skill">{skill}</li>)}
		</ul>
	-->
</BaseLayout>
