---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
//import Greeting from '@components/Greeting';
import BlogPost from "@components/BlogPost.astro";

const pageTitle = "Últimos posts";
const allPosts = (await getCollection("posts"))
.filter(post => post.data.published)
.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())

---

<BaseLayout pageTitle={pageTitle} description="Blog de Bernardo A. Siverio (Wandeber) sobre programación en general, desarrollo web, videojuegos, edición de vídeo, fotografía y cualquier otro tema de su interés.">
	{/*
	<Greeting client:load messages={[
		"Sic Parvis Magna.",
		"Done is better than perfect.",
		"Soluciones, no problemas.",
	]} />
	*/}
	<p>
		Te doy la bienvenida a mi blog ^^. Sólo quiero avisarte de que encontrarás cosas sin acabar. Puede que las termine o extienda con el tiempo. Puede que no.
	</p>
	<ul>
		{allPosts.map(post => <BlogPost url={`/posts/${post.slug}`} title={post.data.title} />)}
	</ul>
</BaseLayout>
