---
import Social from "./Social.astro";

import TwitterIcon from "@icons/TwitterIcon.astro";
import GithubIcon from "@icons/GithubIcon.astro";
import YoutubeIcon from "@icons/YoutubeIcon.astro";
import InstagramIcon from "@icons/InstagramIcon.astro";

const platform = "github";
const username = "wandeber";
---

<footer class="mt-10">
	<hr />
	<div class="flex mt-5 items-center">
		<p>Bernardo A. Siverio (wandeber)</p>
		<div class="flex grow gap-4 items-center justify-end">
			<Social platform="youtube" username="wandeber"><YoutubeIcon /></Social>
			<Social platform="instagram" username="wandeber"><InstagramIcon /></Social>
			<Social platform="github" username="wandeber"><GithubIcon /></Social>
			<Social platform="twitter" username="wandebrr"><TwitterIcon /></Social>
		</div>
	</div>
</footer>
