---
import Social from "./Social.astro";

import TwitterIcon from "@icons/TwitterIcon.astro";
import GithubIcon from "@icons/GithubIcon.astro";
import YoutubeIcon from "@icons/YoutubeIcon.astro";
import InstagramIcon from "@icons/InstagramIcon.astro";
import LinkedinIcon from "@icons/LinkedinIcon.astro";

const platform = "github";
const username = "wandeber";
---

<footer class="mt-10">
	<hr />
	<div class="md:flex mt-5 md:items-center">
		<p>Bernardo A. Siverio (wandeber)</p>
		<div class="flex mt-3 md:mt-0 md:grow gap-4 items-center md:justify-end">
			<Social platform="youtube" username="wandeber"><YoutubeIcon /></Social>
			<Social platform="instagram" username="wandeber"><InstagramIcon /></Social>
			<Social platform="github" username="wandeber"><GithubIcon /></Social>
			<Social platform="linkedin" username="wandeber" link="https://www.linkedin.com/in/wandeber/"><LinkedinIcon /></Social>
			<!--<Social platform="twitter" username="wandebrr"><TwitterIcon /></Social>-->
		</div>
	</div>
</footer>
