---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeButton from './ThemeButton.astro';
---

<header>
  <nav class="flex items-end justify-center md:justify-end md:items-center flex-col md:flex-row">
		<div class="grow w-full text-left md:text-center order-2 md:order-1 flex justify-start mt-4 md:mt-0">
			<Navigation />
		</div>
		<div class="flex items-center justify-end gap-x-4 order-1 md:order-2">
			<Hamburger />
			<ThemeButton />
		</div>
  </nav>

	<hr class="mb-10" />
</header>
