---

---

<div class="md:!flex nav-links gap-5 border-t md:border-t-0 py-4">
	<a href="/">Inicio</a>
	<!-- <a href="/about/" data-astro-reload>About</a> -->
	<a href="/about/">Sobre mí</a>
	<a href="/tags/">Tags</a>
</div>
