---

---

<div class="!flex nav-links gap-5">
	<a href="/">Home</a>
	<!-- <a href="/about/" data-astro-reload>About</a> -->
	<a href="/about/">About</a>
	<a href="/blog/">Blog</a>
	<a href="/tags/">Tags</a>
</div>
