---
const { tags } = Astro.props;
---

<p class="tags flex gap-2 flex-wrap">
	{tags.map(tag => (
		<a href={`/tags/${tag}`} rel="tag" class="tag border-gray-500">{tag}</a>
	))}
</p>

<style>
  .tag {
    border-radius: .5em;
    padding: .25em 0.8em;
    background-color: #F8FCFD;
  }
</style>
