---
import SunIcon from '@icons/SunIcon.astro';
import MoonIcon from '@icons/MoonIcon.astro';
---
<button id="themeToggle">
  <i class="sun"><SunIcon /></i>
	<i class="moon"><MoonIcon /></i>
</button>

<script>
	document.addEventListener('astro:after-swap', () => {
    localStorage.theme === 'dark'
    ? document.documentElement.classList.add("dark")
    : document.documentElement.classList.add("light");
  });

	document.addEventListener('astro:page-load', () => {
		const theme = (() => {
			if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
				return localStorage.getItem('theme');
			}
			if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
				return 'dark';
			}
			return 'light';
		})() || 'light';

		if (theme === 'light') {
			document.documentElement.classList.remove('dark');
		}
		else {
			document.documentElement.classList.add('dark');
		}

		window.localStorage.setItem('theme', theme);

		const handleToggleClick = () => {
			const element = document.documentElement;
			element.classList.toggle("dark");

			const isDark = element.classList.contains("dark");
			localStorage.setItem("theme", isDark ? "dark" : "light");
		}

		document.getElementById("themeToggle")?.addEventListener("click", handleToggleClick);
	});
</script>

<style>
  #themeToggle {
    border: 0;
    background: none;
  }
  .sun { fill: black; display: block; }
  .moon { display: none; }

  :global(.dark) .sun { display: none; }
  :global(.dark) .moon { fill: white; display: block; }
</style>
